html {
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}
  
body {
    background: #171414;
    font-family: "Courier New", Courier, monospace;
    color: #ffffff;
    padding: 5% 15%;
}
  
p {
    font-size: 1.8rem;
}
  
p:first-of-type {
    margin-top: 60px;
}

#progressBarContainer {
    position: fixed;
    z-index: 10;
    background: rgba(255,255,255,0.05);
    width: 100%;
    top: 0;
    left: 0;
}
  
  
#progressBar {
    background: linear-gradient(to left, red, violet);
    transform-origin: top left;
    transform: scale(0,0);
    opacity: 0;
}

#progressBarContainer,
#progressBar {
    height: 10px;
}